{% extends 'layout.jinja2.html' %}
{% from 'util.jinja2.html' import link_tag, js_tag %}

{% block title %}Home{% endblock %}

{% block css %}
        {{ link_tag('main') }}
{% endblock %}

{% block body %}
            <div align="center">
                <img src="static/img/videopizza.png">
            </div>
            <div id="first-visit-dialog" class="modal hide fade in">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>Welcome to VideoPizza!</h3>
                </div>
                <div class="modal-body">
                    <h4>VideoPizza delivers video just the way you like it</h4>
                    <p>
                    VideoPizza sifts through an entire video to find its
                    richest portions and delivers them in easily-consumable,
                    sharable "slices."</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>

{% endblock %}

{% block js %}
        {{ script_tag('cookies') }}
        {{ script_tag('animation') }}
        {{ script_tag('firstuser') }}
        {{ script_tag('main') }}
{% endblock %}
