{% extends 'layout.jinja2.html' %}
{% from 'util.jinja2.html' import link_tag, js_tag %}

{% block title %}Home{% endblock %}

{% block css %}
        {{ link_tag('main') }}
{% endblock %}

{% block body %}
            <div align="center">
                <img src="static/img/videopizza.png">
            </div>

            <div style="margin-left: 250px; margin-right: 250px; margin-top: 50px;">

            <p><strong>The problem</strong>: In today’s world of short attention spans and wide
            range of device platforms, how can we entice people to watch
            long-form video content on the web?</p>

            <p><strong>The solution</strong>: VideoPizza is a navigation app for viewers and a
            narrative presentation tool for creators. It allows users to
            "trailer-ize" their work or to consume a video on their own
            terms.</p>

            <p>For example, perhaps you have <a href="http://www.c-span.org/video/?323714-1/us-senate-morning-business">a boring C-SPAN video you want to slice</a>?

            <p><small>team: andrew montalenti + amelia winger-bearskin + alessandra villaamil + daniel mclaughlin + elizabeth kilroy + fred ritchin + jasmine henderson + kristina budelis + liam andrew + meredith derby berg + ross goodwin + sharon chen + sky dylan-robbins + steph rymer + tobias wright</small></p>

            </div>
            <div id="first-visit-dialog" class="modal hide fade in">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>Welcome to VideoPizza!</h3>
                </div>
                <div class="modal-body">
                    <h4>VideoPizza delivers video just the way you like it</h4>
                    <p>
                    VideoPizza sifts through an entire video to find its
                    richest portions and delivers them in easily-consumable,
                    sharable "slices."</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>

{% endblock %}

{% block js %}
        {{ script_tag('cookies') }}
        {{ script_tag('animation') }}
        {{ script_tag('firstuser') }}
        {{ script_tag('main') }}
{% endblock %}
