{% from 'util.jinja2.html' import link_tag, script_tag %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VideoPizza - {% block title %}{% endblock %}</title>

        {{ link_tag('lib/bootstrap') }}
        {{ link_tag('lib/bootstrap-responsive') }}

        {% block css %}
        {% endblock %}

    </head>
    <body>

        <div class="container">
            <!-- <bootstrap> -->

            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand hidden-phone">VideoPizza</a>
                    <a class="brand visible-phone">VP</a>
                    <ul class="nav">
                        <li><a href="/">home</a></li>
                        <li><a target="_blank" href="http://XXXXXXXX.ngrok.com/">autoclipper</a></li>
                        <li><a target="_blank" href="http://4d04d1f7.ngrok.com/">annotator</a></li>
                        <li><a target="_blank" href="https://vine.co/v/OjTAX9I2ibt">vine</a></li>
                        <li><a target="_blank" href="https://github.com/amontalenti/videopizza">github</a></li>
                        <li class="logout"><a href="#">logout</a></li>
                    </ul>
                </div>
            </div>

            {% block body %}
                <img src="static/img/videopizza.png">
            {% endblock %}

            <!-- </bootstrap> -->
        </div>

        {{ script_tag('lib/jquery') }}
        {{ script_tag('lib/bootstrap') }}
        <script>window.RAPID = {};</script>

        {% block js %}
        {% endblock %}

    </body>
</html>
